@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/*-----------------------------------*\
  #VARIAVEIS
\*-----------------------------------*/

:root {

    /**
   * cores
   */

    --cor01-bege: #D79F8E;
    --cor02-rosa: #832C56;
    --cor03-roxo: #32286C;
    --cor04-azul: #153765;
    --cor05-ciano: #0F8295;
    --branco: #fff;
    --preto: #000;
    --branco-transpa: rgba(255, 255, 255, 0.1);
    --cinza: #999;

    /**
   * tipografia
   */

    --ff-inter: 'Inter', sans-serif;

    --fs-1: 0.87rem;
    --fs-2: 0.9rem;
    --fs-3: 1.5rem;
    --fs-4: 1.4rem;
    --fs-5: 1.3rem;

    --fw-300: 300;
    --fw-600: 600;
    --fw-500: 500;

    /**
   * box shadow
   */

    --shadow-1: 0 0 5px #ffffff66;
    --shadow-2: 0 0 20px 4px var(--black_5);

    /**
   * border radius
   */

    --radius-10: 10px;
    --radius-15: 15px;
    --radius-20: 20px;
    --radius-30: 30px;
    --radius-40: 40px;

    /**
   * transition
   */

    --transition-1: 0.3s ease;
    --transition-2: 0.5s ease;

}

/*-----------------------------------*\
  #CRÃTICAS
\*-----------------------------------*/

#criticas {
    padding: 0px 100px;
}

.coment {
    background-color: var(--branco-transpa);
    padding: 30px;
    border-radius: var(--radius-20);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    line-height: 1.5em;
    text-align: justify;
}

.star > i {color: goldenrod;} 

.star > span {
    margin-inline-start: 10px;
    color: var(--cinza);
}

/* CRITICOS */

.carousel_criticas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide_critica {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 30%;
}

.slide_critica > img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.criticos_infos {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.criticos_infos > p {line-height: 1.4em;}

.criticos_infos > h2 {font-size: 1.3em;}

.criticas_track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 50px;
    width: 100%;
}

.progress_criticas {
    height: 2px;
    background-color: var(--branco-transpa);
    width: 100%;
    margin-block-start: 40px;
    border-radius: var(--radius-20);
}

.progress_bar_crit {
    height: 2px;
    background-color: var(--branco);
    width: 30%;
    border-radius: var(--radius-20);
}
