@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {

  /**
   * cores
   */

  --cor01-bege: #D79F8E;
  --cor02-rosa: #832C56;
  --cor03-roxo: #32286C;
  --cor04-azul: #153765;
  --cor05-ciano: #0F8295;
  --branco: #fff;
  --preto: #000;
  --branco-transpa: rgba(255, 255, 255, 0.1);

  /**
   * tipografia
   */

  --ff-inter: 'Inter', sans-serif;

  --fs-1: 3rem;
  --fs-2: 2rem;
  --fs-3: 1.5rem;
  --fs-4: 1.4rem;
  --fs-5: 1.3rem;

  --fw-900: 900;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * box shadow
   */

  --shadow-1: 0px 0px 20px var(--black_10);
  --shadow-2: 0 0 20px 4px var(--black_5);

  /**
   * border radius
   */

  --radius-6: 6px;
  --radius-10: 10px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;

}



/* 
SCROLLBAR
*/


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--branco-transpa);
    border-radius: 200px;
}

::-webkit-scrollbar-thumb {
    background: var(--branco);
    border-radius: 15px;
}







*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a {
    display: block;
}

body, html {
    background-color: var(--preto);
    font-family: var(--ff-inter);
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/


header {
    /* width: 100vw; */
    min-height: 90px;
    display: flex;
    justify-content: center;
}

.div_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 18px 30px;
    width: 95%;
    background-color: var(--branco-transpa);
    border-radius: 40px;
    color: var(--branco);
    position: fixed;
    z-index: 99;
}

.logo {
    padding: 5px 20px;
    margin-right: 20px;
    border: 1px solid var(--branco);
    border-radius: 20px;
    text-align: center;
}

.items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.list_header {
    display: flex;
    font-size: 0.9em;
    font-weight: 300;
    gap: 20px;
    list-style: none;
}

.navbar_link {
    padding: 5px 0px;
    position: relative;
}

.navbar_link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #D79F8E, #832C56, #32286C, #153765, #0F8295);
  transition: width .6s ease;
}

.navbar_link:hover::after {
  width: 100%;
}

.btn {
    flex: 1 1 auto;
    border: 1px solid var(--branco);
    border-radius: 30px;
}

.btn_login {
    background-color: var(--branco);
    color: var(--preto);
    transition: all .5s ease;
    font-size: 0.9em;
    padding: 5px 15px;
}

.btn_login:hover {
    transform: scale(1.04);
    background-color: transparent;
    color: var(--branco);
}

.btn_create {
    transition: transform .5s ease;
    font-size: 0.9em;
    padding: 5px 15px;
}

.btn_create:hover {
    transform: scale(1.04);
}