@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * cores
   */

  --cor01-bege: #D79F8E;
  --cor02-rosa: #832C56;
  --cor03-roxo: #32286C;
  --cor04-azul: #153765;
  --cor05-ciano: #0F8295;
  --branco: #fff;
  --preto: #000;
  --branco-transpa: rgba(255, 255, 255, 0.1);
  --cinza: #999;

  /**
   * tipografia
   */

  --ff-inter: 'Inter', sans-serif;

  --fs-1: 3rem;
  --fs-2: 2rem;
  --fs-3: 1.5rem;
  --fs-4: 1.4rem;
  --fs-5: 1.3rem;

  --fw-900: 900;
  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
   * spacing
   */

  --section-padding: 50px;

  /**
   * box shadow
   */

  --shadow-1: 0px 0px 20px var(--black_10);
  --shadow-2: 0 0 20px 4px var(--black_5);

  /**
   * border radius
   */

  --radius-10: 10px;
  --radius-15: 15px;
  --radius-20: 20px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;

}

/*-----------------------------------*\
  #SCROLLBAR
\*-----------------------------------*/


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--branco-transpa);
  border-radius: 200px;
}

::-webkit-scrollbar-thumb {
  background: var(--branco);
  border-radius: 15px;
}



/* DESKTOP */

@media screen and (min-width: 992px) and (max-width: 1200px) {

  /* BLUR */

  .prim, .seg {
    min-height: 300px;
    min-width: 300px;
  }

  .quar {left: 220px;}

  .quin {right: 220px;}


  /* HEADER */

  header {
    min-height: 100px;
  }

  .list_header, .btn_login, .btn_create {font-size: 1em;}

  /* MAIN */

  .span_inicio {
    font-size: 1em;
  }

  #carousel {
    min-height: 300px;
  }

}

    





@media screen and (min-width: 992px) and (max-width: 768px) {


}


@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */

  :root {

    /**
     * typography
     */

    --fs-1: 5rem;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1180px; }

  .section-text { --fs-4: 1.5rem; }

  .h2 { --fs-1: 4rem; }

  .h3 { --fs-2: 2.2rem; }



  /**
   * HEADER
   */

  .header { padding-block: 20px; }

  :is(.header, .hero) .container {
    max-width: unset;
    padding-inline: 25px;
  }

  .header .btn {
    font-size: var(--fs-3);
    padding: 14px 30px;
    border-radius: var(--radius-6);
    margin-block: 0;
  }



  /**
   * HERO
   */

  .hero { --section-padding: 30px; }



  /**
   * FEATURES
   */

  .features-list { gap: 25px; }

  .features-card { padding: 30px; }



  /**
   * BLOG
   */

  .blog-list { gap: 25px; }

  .blog-list > li { max-width: calc(33.33% - 16.66px); }



  /**
   * FOOTER
   */

  .footer-list-title { --fs-2: 2.2rem; }

  .social-link {
    font-size: 18px;
    padding: 14px;
  }

  .footer-link,
  .copyright { --fs-4: 1.5rem; }



  /**
   * BACK TO TOP
   */

  .back-top-btn {
    font-size: 24px;
    padding: 13px;
    bottom: 40px;
  }

  .back-top-btn.active { transform: translateX(-80px); }

}