@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/*-----------------------------------*\
  #VARIAVEIS
\*-----------------------------------*/

:root {

    /**
   * cores
   */

    --cor01-bege: #D79F8E;
    --cor02-rosa: #832C56;
    --cor03-roxo: #32286C;
    --cor04-azul: #153765;
    --cor05-ciano: #0F8295;
    --branco: #fff;
    --preto: #000;
    --branco-transpa: rgba(255, 255, 255, 0.1);
    --cinza: #999;

    /**
   * tipografia
   */

    --ff-inter: 'Inter', sans-serif;

    --fs-1: 0.87rem;
    --fs-2: 0.9rem;
    --fs-3: 1.5rem;
    --fs-4: 1.4rem;
    --fs-5: 1.3rem;

    --fw-300: 300;
    --fw-600: 600;
    --fw-500: 500;

    /**
   * box shadow
   */

    --shadow-1: 0 0 5px #ffffff66;
    --shadow-2: 0 0 20px 4px var(--black_5);

    /**
   * border radius
   */

    --radius-10: 10px;
    --radius-15: 15px;
    --radius-20: 20px;
    --radius-30: 30px;
    --radius-40: 40px;

    /**
   * transition
   */

    --transition-1: 0.3s ease;
    --transition-2: 0.5s ease;

}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

body, html {
    background-color: var(--preto);
    font-family: var(--ff-inter);
    overflow: hidden;
}


/*-----------------------------------*\
  #GERAL
\*-----------------------------------*/


form {
    width: 70%;
    display: flex;
    flex-flow: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.container_carousel, .container_form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--branco);
    flex: 1 1 auto;
}

.container_carousel {
    width: 50%;
    padding: 13px;
}

.container_form {
    width: 50%;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    height: 78%;
}

.genero > select:hover, .genero > input:hover, .form_div > input:hover {
    border: 2px solid transparent;
    background: linear-gradient(black, black) padding-box, linear-gradient(45deg, var(--cor01-bege), var(--cor02-rosa), var(--cor03-roxo), var(--cor04-azul), var(--cor05-ciano)) border-box;
}

label {display: none;}

.blur {
    min-width: 150px;
    min-height: 150px;
    position: absolute;
    z-index: 50;
    background-image: linear-gradient(var(--cor01-bege), var(--cor02-rosa), var(--cor03-roxo), var(--cor04-azul), var(--cor05-ciano));
    border-radius: 100px;
    filter: blur(80px);
}

.prim {
    top: -10px;
    right: 600px;
}

.seg {
    bottom: -10px;
    left: 0px;
}

/*-----------------------------------*\
  #FORM
\*-----------------------------------*/

.logo_span {
    border: 1px solid transparent;
    background: linear-gradient(#111, #111) padding-box, linear-gradient(45deg, var(--cor01-bege), var(--cor02-rosa), var(--cor03-roxo), var(--cor04-azul), var(--cor05-ciano)) border-box;
    border-radius: var(--radius-15);
    font-size: 0.9em;
    box-shadow: 0 0 5px #ffffff66;
    padding: 5px 15px;
    margin-block-end: 10px;
}

.logo_mobile {display: none;}

.container_form > h1 {
    font-size: 2.3em;
    text-transform: uppercase;
}

.container_form > p {
    font-size: 1em;
    max-width: 300px;
    line-height: 1.7em;
    margin-block-end: 15px;
}

.genero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    gap: 20px;
    flex-flow: row wrap;
    width: 100%;
    position: relative;
}

.genero > select, .genero > input {
    display: inline-block;
    width: 40%;
    flex: 1 1 40%;
    min-height: 45px;
    border: 1px solid var(--branco);
    background-color: transparent;
    padding: 10px 20px;
    border-radius: var(--radius-10);
    color: var(--cinza);
}

.genero > select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.genero > select > option {
    background-color: var(--preto);
    color: var(--branco);
}

.genero > select > option:checked {
    background-color: #fff;
    color: #000;
}

.genero > i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform .2s ease;
    color: var(--branco);
    z-index: 98;
}

.genero select:focus + i {
    transform: translateY(-50%) rotate(180deg);
}

.form_div {
    display: flex;
    flex-flow: column;
    max-width: 100%;
} 

.form_div > input {
    max-height: 45px;
    flex: 1 1 440px;
    background-color: transparent;
    border: 1px solid var(--branco);
    padding: 10px 20px;
    border-radius: var(--radius-10);
    margin-block-start: 20px;
    color: var(--branco);
}

input:focus::placeholder {
    color: transparent;
}

::placeholder {
    color: var(--cinza);
    font-size: 1em;
}

.senha_eye {position: relative;}

.senha_eye > i {
    position: absolute;
    right: 18px;
    top: 53%; 
    cursor: pointer;
    z-index: 500;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
}

.btn > button {
    margin-block-start: 25px;
    font-size: 1.1em;
    padding: 9px 15px;
    border: 1px solid #6B6B6B;
    border-radius: var(--radius-40);
    min-height: 45px;
    cursor: pointer;
    transition: transform .4s ease;
    width: 50%;
    color: var(--branco);
    background-color: var(--branco-transpa);
}

.criar:hover {
    transform: scale(1.08);
}

.aviso {
    font-size: 0.8em;
    margin-block-start: 12px;
}

span.color {
    background: linear-gradient(90deg, var(--cor01-bege), var(--cor02-rosa), var(--cor03-roxo), var(--cor04-azul), var(--cor05-ciano));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    text-shadow: 0 0 10px #2a2a2a66;
}


/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/

.logo {
    display: flex;
    position: absolute;
    top: 40px;
    justify-content: space-between;
    width: 43vw;
    color: var(--branco);
    z-index: 99;
}

.logo > a > i {
    cursor: pointer;
}

.span_logo {
    padding: 5px 15px;
    border: 1px solid var(--branco);
    border-radius: var(--radius-15);
    font-size: 0.9em;
    transition: all .3s ease;
}

.span_logo:hover {
    transform: scale(1.09);
    background-color: var(--branco);
    color: var(--preto);
}

.slide {
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

.slide > img {
    max-width: 160px;
    position: absolute;
    right: 35px;
    bottom: 35px;
}

.active {
    display: block;
    opacity: 1;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
    box-shadow: 0 3px 20px rgba(107, 107, 107, 0.753);
    border-radius: var(--radius-15);
}
