#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 68px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #0D0E10;
    color: white;
}


/* CONFIGURAÇÃO DA SETA DE VOLTAR */

#return {
    margin-left: 60px;
    margin-top: 15px;
}


#return i {
    cursor: pointer;
    color: white;
}



/* CONFIGURAÇÕES DA NAV */

#nav {
    width: 742px;
    height: 68px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: solid 1px white;
    border-top: none;
    border-radius: 0 0 20px 20px;
    background-color: #282B30;

}

#ul_header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    background-color: transparent;
}

#ul_header li {
    background-color: transparent;
}


/* CONFIGURAÇÃO DA LOGO */

#logo_header {
    margin-right: 60px;
}
