#trailers {
    margin: 15px 70px;
    color: white;
}

#trailers h2 {
    font-size: 30px;
    margin-bottom: 20px;
}


#carrossel_trailers {
    width: 100vw;
    overflow: hidden;
}

#conteiner_trailers {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    width: max-content;
}

.trailer video {
    width: 360px;
    border-radius: 20px;
    border: 1px solid white;
    
}

.trailer span {
    position: absolute;
    background-color: #282B30;
    padding: 8px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 500;
    margin: 0 25px 25px 0;
}

.video-trailer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}