main {
    position: absolute;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

 /* CARROSSEL PRINCIPAL */

#carrossel_principal {
    margin: 10px 40px;
    display: flex;
    margin-bottom: 17px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 261px;
}

#slides {
    display: flex;
    gap: 20px;
    transition: transform 1s ease;
    overflow: hidden;
}

.img-carro-principal {
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    flex: 0 0 auto;
    height: 100%;
    border-radius: 15px;
    border: 1px solid white;
}

.img-carro-principal.active {
    left: 0;
    z-index: 2;
    
}

.img-carro-principal.prev {
    left: -100%;
    z-index: 1;
    
}

.img-carro-principal img:hover {
    transform: scale(1.2);
}

.img-carrossel-principal {
    width: 754px;
    height: 261px;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
    transition: transform 0.3s ease;
}


/* CARROSSEL SECUNDARIO */

.carrossel-secundario {
  width: 100%;
  max-width: 1200px;
  margin: 10px 40px;
  color: white;
}

.infos-secao {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.arrow {
  display: flex;
  gap: 8px;
}

.arrow button {
  background: rgba(255, 255, 255, 0.06);
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.arrow button i {
    color: white;
}

.arrow button:hover:not(:disabled) {
  background: rgba(255, 255, 255, 0.3);
}

.arrow button:disabled {
  opacity: 0.35;
  cursor: default;
}

.viewport {
  overflow: hidden; 
  width: 100%;
  position: relative;
}

.viewport::-webkit-scrollbar {
    display: none;
}

.div-carrossel-secundario {
  display: flex;
  gap: 16px;
  flex-wrap: nowrap;
  min-width: max-content;
  transition: transform 0.5s cubic-bezier(.2,.8,.2,1);
  will-change: transform;
}

.img-container {
  flex: 0 0 auto; 
  width: 144px;
  height: 217px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid white;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.img-container img:hover {
  transform: scale(1.2);
}

.infos-secao h3 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}
/* 
@media (max-width: 540px) {
  .img-container {
    width: 140px;
  }
} */